## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from dotenv import load_dotenv
load_dotenv()

Google_API_KEY = os.getenv('Google_API_KEY')

# Configure gmaps
gmaps.configure(api_key=Google_API_KEY)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Marsh Harbour,BS,83.66,broken clouds,26.5412,-77.0636,Abaco Beach Resort
1,3,Touros,BR,74.79,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
2,5,Saint Anthony,US,89.76,few clouds,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
3,8,Urucui,BR,81.05,scattered clouds,-7.2294,-44.5561,Hotel Premium Piauí
4,9,Bathsheba,BB,83.05,scattered clouds,13.2167,-59.5167,Atlantis Hotel

In [6]:
clean_hotel_df = vacation_df

In [44]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0),zoom_level= 1.5)
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)

# 4b. Display the figure


fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_end]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Marsh Harbour,BS,83.66,broken clouds,26.5412,-77.0636,Abaco Beach Resort
1,3,Touros,BR,74.79,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
2,5,Saint Anthony,US,89.76,few clouds,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
3,8,Urucui,BR,81.05,scattered clouds,-7.2294,-44.5561,Hotel Premium Piauí
4,9,Bathsheba,BB,83.05,scattered clouds,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...,...,...
327,676,Princes Town,TT,84.47,overcast clouds,10.2667,-61.3833,Ronadl barreto
328,677,Khor,RU,73.20,clear sky,47.8861,134.9464,Gostinitsa Deksi
329,678,Kirkwood,US,81.52,broken clouds,38.5834,-90.4068,"Holiday Inn St Louis SW - Route 66, an IHG Hotel"
330,679,Canto Do Buriti,BR,83.75,scattered clouds,-8.1100,-42.9444,Novo Hotel
331,683,Warangal,IN,79.12,overcast clouds,18.0000,79.5833,Capital O 66968 Haveli The Landmark

In [32]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = 'Mantua'
vacation_end = 'Mantua'
city1 = 'Calarasi'
city2 = 'Bordighera'
city3 = 'Moura'

vacation_start = clean_hotel_df.loc[clean_hotel_df['City'] == vacation_start]
vacation_end = clean_hotel_df.loc[clean_hotel_df['City'] == vacation_end]
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df['City'] == city1]
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df['City'] == city2] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df['City'] == city3]

In [33]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
202,408,Mantua,IT,78.04,clear sky,45.1667,10.7833,Hotel la Favorita

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[['Lat',"Lng"]].to_numpy()[0]
stop1 = vacation_stop1[['Lat',"Lng"]].to_numpy()[0]
stop2 = vacation_stop2[['Lat',"Lng"]].to_numpy()[0]
stop3 = vacation_stop3[['Lat',"Lng"]].to_numpy()[0]

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING' or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,408,Mantua,IT,78.04,clear sky,45.1667,10.7833,Hotel la Favorita
1,517,Calarasi,MD,71.31,broken clouds,47.2544,28.3081,Hotel-Diana's
2,367,Bordighera,IT,82.15,clear sky,43.7806,7.6645,Hotel Villa Elisa & Spa
3,459,Moura,PT,78.91,clear sky,38.1401,-7.4486,Hotel de Moura
4,408,Mantua,IT,78.04,clear sky,45.1667,10.7833,Hotel la Favorita

In [40]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))